<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Carga de contenido estatico -->
    {% load static %}

    <title>Yane's Beauty & Skincare</title>

    <!-- Cargar CSS de Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Cargar CSS personalizado -->
    <link
      rel="stylesheet"
      href="{% static 'proyectoyaneapp/css/sitioyane.css' %}"
    />
    <!-- Cargar fuente de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Contenedor Principal -->
    <div class="container mt-4">
      <!-- Header de la Pagina-->
      <header>
        <h1 class="mb-2 display-3 fw-bold text-dark text-center merriweather-header">
          Yane's Beauty & Skincare
        </h1>
      </header>
      <!-- Barra de Navegación Profesional -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded mb-4">
        <div class="container-fluid">
          <!-- Marca / Logo con Imagen y Texto -->
          <a
            class="navbar-brand d-flex align-items-center"
            href="{% url 'Home' %}"
          >
            <!-- Imagen del Logo -->
            <img
              src="{% static 'proyectoyaneapp/images/logo.png' %}"
              alt="Yane's Beauty Logo"
              width="60"
              height="60"
              class="d-inline-block me-2 rounded-circle"
            />
          </a>
          <!-- Botón Hamburguesa para pantallas pequeñas -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Enlaces de la barra de navegación -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0">
              <li class="nav-item">
                <a
                  class="merriweather-text nav-link {% if request.path == '/' %} active {% endif %}"
                  aria-current="page"
                  href="{% url 'Home' %}"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="merriweather-text nav-link {% if request.path|slice:':6' == '/shop/' %} active {% endif %}"
                  href="{% url 'Shop' %}"
                  >Tienda</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="merriweather-text nav-link {% if request.path == '/blog/' %} active {% endif %}"
                  href="{% url 'Blog' %}"
                  >Blog</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="merriweather-text nav-link {% if request.path == '/contact/' %} active {% endif %}"
                  href="{% url 'Contact' %}"
                  >Contacto</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Seccion Variable -->
      {% block content %} {% endblock content %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
