{% extends 'proyectoyaneapp/base.html' %}
{% load static %}

{% block content %}

<!-- 1. Hero / Sección Principal de Bienvenida -->
<div class="p-5 mb-4 bg-light rounded-3 shadow-sm text-center">
  <div class="container-fluid py-3">
    <h1 class="merriweather-header display-5 fw-bold text-dark">Bienvenido/a a nuestra Tienda</h1>
    <p class="merriweather-text fs-5 text-muted col-md-8 mx-auto">
      Descubre nuestra línea exclusiva de cuidado para la piel y cosméticos diseñados para resaltar tu belleza natural.
    </p>
    <a href="{% url 'Shop' %}" class="merriweather-text btn btn-primary btn-lg px-4 gap-3">Explorar Tienda</a>
  </div>
</div>

</div>
{% endblock content %}
